<br/><br/><br/><br/>
<div class="row">
    <h1></h1>
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="form-group" ng-init="getEvents()" ng-show="eventObj">
            <label for="events">Select Event:</label>
            <select class="form-control" id="events" ng-model="eventObj" ng-options="item as item.eventName for item in message track by item.eventNum">
            </select>
        </div>
    </div>
    <div class="col-lg-3">
        <label for="register">Register for Selected Event:</label>
        <button class="btn btn-success" id="register" ng-click="redirectPreReg();">Register</button>
    </div>
</div>