body {
    font-family: "Arial" ,SansSerifSerif;
    font-size: 16px;
    background-color: #FFFFFF;
}

#banner {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

#EventText {
	font-size: 26px;
}

