<div class="row" ng-init="getEvents()">
    <div class="col-lg-10 col-md-10 col-sm-10">
        <h1 class="page-header">Manage Events</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form ng-submit="deleteEvent()">
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1">
        <div class="form-group" ng-init="getEvents()">
            <label for="events">Select Event:</label>
            <select class="form-control" id="events"  ng-model="updateEventForm" ng-options="item as item.eventName for item in message track by item.eventNum">
            </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-1 col-md-offset-1">
        <label for="deleteEvent">DELETE EVENT CAN'T BE UNDONE</label>
        <span class="col-lg-2"></span>
        <input class="btn btn-danger" type="submit" name="deleteEvent" id="deleteEvent" value="Delete Event">
    </div>
</div>
</form>
<form ng-submit="updateEvent()">
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-1 col-md-offset-1">
        <fieldset>
            <legend>Basic Event Information:</legend>
            <span class="help-block">{{changed}}</span>
            <div class="form-group">
                Event Name:<input class="form-control" name="eventName" id="eventName" ng-model="updateEventForm.eventName" type="text" size="30">
                Event Date:<input type="date" class="form-control" uib-datepicker-popup ng-model="updateEventForm.eventDate" ng-required="true" />
            </div>
        </fieldset>
    </div>
</div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-1 col-md-offset-1">

            <fieldset>
                <legend>Event Pre-Registration Options:</legend>
                <div class="form-group">
                    <label class="checkbox-inline"><input type="checkbox" value="" id="isPreReg" name="isPreReg" ng-model="updateEventForm.preReg">Event Pre-Registration?</label><br/><br/>
                    Pre-Registration Site Header:<input class="form-control" name="siteTitle" id="siteTitle" type="text" size="30" ng-model="updateEventForm.siteHeader"><br/>
                    <label class="checkbox-inline"><input type="checkbox" value="" id="hasQuestions" name="hasQuestions" ng-model="updateEventForm.cusQuest">Custom Pre-Registration Questions?</label><br/><br/>
                </div>
            </fieldset>
        </div>
    </div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-1 col-md-offset-1">
        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-8 col-md-offset-8 col-sm-offset-8">
            <button type="submit" class="btn btn-success btn-lg btn-block">Change Event
            </button><br/><br/>
        </div>
    </div>
</div>
</form>


