<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
        <h1 class="page-header">Create New Event</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-1 col-md-offset-1">
        <fieldset>
            <legend>Event Pre-Registration Site Setup:</legend>
        </fieldset>
    </div>
</div>
<form>
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <div class="list-group">
            <label>Question:</label>
            <input class="list-group-item" type="text" size="45" ng-model="question.question"/>
            <span class="help-block">{{created}}</span>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="list-group">
            <label>Choices:</label>
            <input class="list-group-item" type="text" size="45" ng-model="choice1.choice"/>
            <input class="list-group-item" type="text" size="45" ng-model="choice2.choice"/>
            <input class="list-group-item" type="text" size="45" ng-model="choice3.choice"/>
            <input class="list-group-item" type="text" size="45" ng-model="choice4.choice"/>
            <input class="list-group-item" type="text" size="45" ng-model="choice5.choice"/>
            <input class="list-group-item" type="text" size="45" ng-model="choice6.choice"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
        <button type="button" ng-click="addQuestion();" class="btn btn-success btn-lg btn-block">Add Question
        </button><br/><br/>
    </div>
</div>
</form>
<br/><br/>

