<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
        <h1 class="page-header">Event Reports</h1>
    </div>
    <!-- /.col-lg-10 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1">
        <div class="form-group" ng-init="getEvents()">
            <label for="events">Select Event:</label>
            <select class="form-control" id="events" ng-model="eventObj" ng-options="item as item.eventName for item in message track by item.eventNum">
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1">
        <button type="submit" class="btn btn-success" ng-click="getEmailList()">Get Email CSV</button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1">
        <button type="submit" class="btn btn-success" ng-click="getRegList()">Get Registrants</button>
    </div>
</div>